        <link href="/css/home.css" rel="stylesheet">
    
            <div class="text-center h2 mb-4">Project Details</div>
    
        <section class="container mt-5">
            <form action="/users/create" method="POST">
                <div class="row my-3">
                  
                    <div class="col">  <input class="form form-control" type="text" name="title" placeholder="Your title" required></div>
                </div>
                <div class="row my-3">
                  
                    <div class="col">  <input class="form form-control" type="text" name="author" placeholder="Author Name" required></div>
                </div>
                <div class="row my-3">
                  
                    <div class="col">  <input class="form form-control" type="text" name="description"  placeholder="Description"  required></div>
                </div>
                <div class="row my-3">
                  
                    <div class="col">  <input class="btn btn-success" type="submit" value="Create Project" ></div>
                </div>
        
            </form>
            <div id="all_project"></div>
        </section>
        <script src="/js/home.js">
            
        </script>